{% extends "basket/home.html" %}

{% block title %}Basket list{% endblock %}

{% block top_menubar %}
    {{ block.super }}
    <a class="navbar-brand navbar-toggler-right" href= {% url 'basket:basket_new' %}>Add</a>
{% endblock %}

{% block content%}
    {% if baskets %}
        <nav class="col-xl-1 bg-faded sidebar">
            <ul class="nav nav-pills filex-column">
            {% for trash in baskets %}
                <li class="nav-item">
                    <a class="nav-link" href= {% url 'basket:basket_detail' trash.pk %}>{{ trash }}</a></li>
            {% endfor %}
            </ul>
        </nav>
    {% else %}
        <div class="alert alert-warning" role="alert">
            <strong>Warning!</strong> No wastebaskets found
        </div>
    {% endif %}

     <div class="col-x-11">
         {% block detail %}
         {% endblock %}
     </div>
{% endblock %}