{% extends 'basket/base.html' %}

{% block title %}Home{% endblock %}

{% block top_menubar %}
        <a class="navbar-brand" href= {% url 'basket:basket_list' %}>Baskets</a>
        <a class="navbar-brand" href= {% url 'basket:task_list' %}>Tasks</a>
{% endblock %}
