{% extends "basket/home.html" %}

{% block title %}New task{% endblock %}

{% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}

            <table class="table">
                {{ form.as_table }}
            </table>
            <input type="submit" value="SAVE">
            <button type="submit" class="btn btn-primary">Save</button>

        </form>

    </div>
{% endblock %}