{% extends "basket/home.html" %}

{% block title %}
    {{ form.name.value }}
{% endblock %}

{% block content %}
    <div class="container">
        <form method="POST">
         {% csrf_token %}

         <table class="table">{{ form.as_table }}</table>

         <button type="submit" class="btn btn-primary">Save</button>
         </form>
    </div>
{% endblock %}