{% extends "basket/home.html" %}

{% block title %}Result{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <th>Action</th>
            <th>Old path</th>
            <th>New path</th>
        </thead>
         <tbody>
            {% for src, dst in result %}
                <tr>
                    <td>{{ action }}</td>
                    <td>{{ src }}</td>
                    <td>{{ dst }}</td>
                </tr>
            {% endfor %}
          </tbody>
    </table>

    {% if task %}
        <div class="alert alert-danger" role="alert">
            <strong>Error!</strong> for "{{ task.basket }}" the task is alredy running: {{ task.name }}
        </div>
    {% elif error_object %}
        <div class="alert alert-danger" role="alert">
            <strong>Error!</strong> {{ error_object.msg}}" {{ error_object.raised_path}}"
        </div>
    {% endif %}
{% endblock %}



