{% extends "basket/home.html" %}

{% block title %}Task list{% endblock %}

{%block top_menubar%}
    {{ block.super }}
    <a class="navbar-brand navbar-toggler-right" href= {% url 'basket:task_new' %}>Add</a>
{% endblock %}

{% block content %}
    {% if tasks %}
     <div class="table-responsive">
        <table class="table">
             <thead>
                    <th>Name</th>
                    <th>Basket</th>
                    <th>Rmdir</th>
                    <th>Force</th>
                    <th>Dry-run</th>
                    <th>Restore</th>
                    <th>Regex</th>
                    <th>Run</th>
                </thead>
             <tbody>
                 {% for task in tasks %}
                     <tr>
                         <td><a href= {% url 'basket:task_detail' task.pk %}>{{ task }}</a></td>
                         <td>{{ task.basket }}</td>
                         <td>{{ task.rmdir }}</td>
                         <td>{{ task.force }}</td>
                         <td>{{ task.dry_run }}</td>
                         <td>{{ task.restore }}</td>
                         <td>{{ task.regex }}</td>
                         <td><a href= {% url 'basket:task_result' task.pk %}>RUN</a></td>
                     </tr>
                 {% endfor %}
             </tbody>
        </table>
     </div>
   {% else %}
        <div class="alert alert-warning" role="alert">
            <strong>Warning!</strong> No tasks found
        </div>
   {% endif %}

{% endblock%}